apiVersion: v1
kind: ConfigMap
metadata:
  name: flyway-digest-tracking
  namespace: qa
data:
  V1__Init.sql: |-
    CREATE SCHEMA IF NOT EXISTS "${NAMESPACE}_digest_tracking";

    GRANT USAGE ON SCHEMA "${NAMESPACE}_digest_tracking" to
      "${NAMESPACE}_email_digest_dispatcher_user",
      readonly_user;

    CREATE TABLE IF NOT EXISTS "${NAMESPACE}_digest_tracking".digest_email_sent (
        user_id UUID NOT NULL,
        tenant_id UUID NOT NULL,
        latest_sent_at TIMESTAMP WITH TIME ZONE NOT NULL,
        PRIMARY KEY (user_id, tenant_id)
    );

    GRANT SELECT, UPDATE, INSERT, DELETE ON TABLE "${NAMESPACE}_digest_tracking".digest_email_sent TO "${NAMESPACE}_email_digest_dispatcher_user";
    GRANT SELECT ON TABLE "${NAMESPACE}_digest_tracking".digest_email_sent TO readonly_user;

    CREATE INDEX IF NOT EXISTS idx_digest_email_sent_latest_sent_at ON "${NAMESPACE}_digest_tracking".digest_email_sent (latest_sent_at);
