name: "interop-be-in-app-notification-cleaner"

serviceAccount:
  roleArn: "arn:aws:iam::505630707203:role/interop-be-in-app-notification-cleaner-dev-es1" # TODO check role

cronjob:
  schedule: "0 3 * * *"
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  restartPolicy: OnFailure

  env:
    DELETE_OLDER_THAN_DAYS: "90"
  envFromConfigmaps:
    IN_APP_NOTIFICATION_DB_HOST: "common-in-app-notification-db.DB_HOST_RW"
    IN_APP_NOTIFICATION_DB_NAME: "common-in-app-notification-db.DB_NAME"
    IN_APP_NOTIFICATION_DB_PORT: "common-in-app-notification-db.DB_PORT"
    IN_APP_NOTIFICATION_DB_SCHEMA: "common-in-app-notification-db.DB_SCHEMA"
    IN_APP_NOTIFICATION_DB_USE_SSL: "common-in-app-notification-db.DB_USE_SSL"
  envFromSecrets:
    IN_APP_NOTIFICATION_DB_USERNAME: "in_app_notification_cleaner_user.username" # TODO check user
    IN_APP_NOTIFICATION_DB_PASSWORD: "in_app_notification_cleaner_user.password" # TODO check user
  envFromFieldRef:
    NAMESPACE: "metadata.namespace"
