name: "interop-frontend"
techStack: "frontend"

service:
  create: true
  containerPort: 80
  targetPort: 80
  albHealthCheck:
    path: "/nginx-status"
    successCodes: "200"

frontend:
  env.js:
    window.pagopa_env:
      STAGE: "DEV"
      AUTHORIZATION_SERVER_TOKEN_CREATION_URL: "https://auth.dev.interop.pagopa.it/token.oauth2"
      INTEROP_RESOURCES_BASE_URL: "https://interop-public-assets-dev.s3.eu-south-1.amazonaws.com"
      BACKEND_FOR_FRONTEND_URL: "https://selfcare.dev.interop.pagopa.it/0.0/backend-for-frontend"
      API_GATEWAY_V1_INTERFACE_URL: "https://selfcare.dev.interop.pagopa.it/m2m/v1-interface-specification.yaml"
      API_GATEWAY_V2_INTERFACE_URL: "https://selfcare.dev.interop.pagopa.it/m2m/v2-interface-specification.yaml"
      MIXPANEL_PROJECT_ID: "b6c8c3c3ed0b32d66c61593bcb84e705"
      ONETRUST_DOMAIN_SCRIPT_ID: "018ef6c1-31f6-70a6-bf72-d7d45c0ade7e"
      CLIENT_ASSERTION_JWT_AUDIENCE: "auth.dev.interop.pagopa.it/client-assertion"
      M2M_JWT_AUDIENCE: "dev.interop.pagopa.it/m2m"
      PRODUCER_ALLOWED_ORIGINS: "IPA"
      API_SIGNAL_HUB_PUSH_INTERFACE_URL: "https://raw.githubusercontent.com/pagopa/interop-signalhub-core/refs/heads/develop/docs/openAPI/push-signals.yaml"
      API_SIGNAL_HUB_PULL_INTERFACE_URL: "https://raw.githubusercontent.com/pagopa/interop-signalhub-core/refs/heads/develop/docs/openAPI/pull-signals.yaml"
      SIGNALHUB_PERSONAL_DATA_PROCESS_URL: "https://selfcare.dev.interop.pagopa.it/signalhub/pdnd_designazione_responsabilita_dati_personali_sh_v1.pdf"
      ERROR_DATA_DURATION_TIME: "120000"
      fromConfigmaps:
        FEATURE_FLAG_ADMIN_CLIENT: "common-feature-flags.FEATURE_FLAG_ADMIN_CLIENT"
        FEATURE_FLAG_AGREEMENT_APPROVAL_POLICY_UPDATE: "common-feature-flags.FEATURE_FLAG_AGREEMENT_APPROVAL_POLICY_UPDATE"
        SELFCARE_BASE_URL : "common-selfcare.SELFCARE_BASE_URL"
        SELFCARE_BASE_URL: "common-selfcare.SELFCARE_BASE_URL"
        SELFCARE_LOGIN_URL: "common-selfcare.SELFCARE_LOGIN_URL"
        WELL_KNOWN_URLS: "common-jwt.WELL_KNOWN_URLS"
        FEATURE_FLAG_ESERVICE_PERSONAL_DATA: "common-feature-flags.FEATURE_FLAG_ESERVICE_PERSONAL_DATA"
  nginx:
    default.conf: |-
      server {
        listen       80;
        listen  [::]:80;
        server_name  localhost;
        absolute_redirect off;
        server_tokens off;

        location /ui {
          root   /usr/share/nginx/html;
          sub_filter_once off;
          sub_filter_types *;
          sub_filter **CSP_NONCE** $request_id;
          add_header Content-Security-Policy "default-src 'self'; object-src 'none'; connect-src 'self' https://api-eu.mixpanel.com https://privacyportal-de.onetrust.com https://interop-application-import-export-dev-es1.s3.eu-south-1.amazonaws.com https://interop-application-import-export-dev-es1.s3.eu-south-1.amazonaws.com https://interop-dev-public-es1.s3.eu-south-1.amazonaws.com; script-src 'nonce-$request_id'; style-src 'self' 'unsafe-inline'; worker-src 'none'; font-src 'self'; img-src 'self' https://interop-dev-public-es1.s3.eu-south-1.amazonaws.com data:; base-uri 'self'";
          add_header Strict-Transport-Security "max-age=31536000";
          add_header X-Content-Type-Options "nosniff";
          add_header X-Frame-Options "SAMEORIGIN";
          add_header Referrer-Policy "no-referrer";
          rewrite /ui/index.html /ui permanent;
          try_files $uri /ui/index.html =404;
        }

        location /nginx-status {
          access_log off;
          return 200;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
          root   /usr/share/nginx/html;
        }
      }

  additionalAssets:
    - env.js
