apiVersion: v1
kind: ConfigMap
metadata:
  name: flyway-read-model-attribute-registry
  namespace: dev
data:
  V1__Init.sql: |-
    CREATE SCHEMA IF NOT EXISTS "${NAMESPACE}_readmodel_attribute";

    GRANT USAGE ON SCHEMA "readmodel_attribute" to
      "${NAMESPACE}_attribute_registry_rmw_user",
      "${NAMESPACE}_attribute_registry_process_user";

    CREATE TABLE IF NOT EXISTS readmodel_attribute.attribute (
      id UUID,
      metadata_version INTEGER NOT NULL,
      code VARCHAR,
      kind VARCHAR NOT NULL,
      description VARCHAR NOT NULL,
      origin VARCHAR,
      name VARCHAR NOT NULL,
      creation_time TIMESTAMP WITH TIME ZONE NOT NULL,
      PRIMARY KEY (id)
    );
