name: interop-be-signed-objects-persister
techStack: nodejs

serviceAccount:
  roleArn: "arn:aws:iam::{{.Values.local.awsAccountId}}:role/interop-be-signed-objects-persister-{{.Values.local.env}}-es1"

service:
  create: false

configmap:
  SERVICE_NAME: "signed-objects-persister"
  SQS_MAX_NUMBER_OF_MSGS: "5"
  SQS_LONG_POLL_WAIT_TIME_SECONDS: "20"
  SQS_VISIBILITY_TIMEOUT_SECONDS: "20"
  SQS_URL: "https://sqs.eu-south-1.amazonaws.com/{{.Values.local.awsAccountId}}/interop-safe-storage-completed-tasks-{{.Values.namespace}}"
  SAFE_STORAGE_CLIENT_ID: "interop-{{.Values.namespace}}-signed-objects-persister"

deployment:
  envFromConfigmaps:
    INTERNAL_JWT_AUDIENCE: "common-jwt.INTERNAL_JWT_AUDIENCE"
    INTERNAL_JWT_ISSUER: "common-jwt.INTERNAL_JWT_ISSUER"
    INTERNAL_JWT_KID: "common-jwt.INTERNAL_JWT_KID"
    INTERNAL_JWT_SUBJECT: "common-jwt.INTERNAL_JWT_SUBJECT"
    INTERNAL_JWT_SECONDS_DURATION: "common-jwt.INTERNAL_JWT_SECONDS_DURATION"
    S3_BUCKET_SIGNED_DOCUMENTS: "common-s3.SIGNED_DOCUMENTS_BUCKET"
    S3_BUCKET_EVENTS: "common-s3.SIGNED_EVENTS_BUCKET"
    S3_BUCKET_AUDIT: "common-s3.SIGNED_AUDIT_BUCKET"
    SAFE_STORAGE_BASE_URL: "common-safe-storage.BASE_URL"
    SAFE_STORAGE_DOC_TYPE: "common-safe-storage.DOC_TYPE"
    SAFE_STORAGE_DOC_STATUS: "common-safe-storage.DOC_STATUS"
    SIGNATURE_REFERENCES_TABLE_NAME: "common-safe-storage.LIVE_REQUESTS_DYNAMO_TABLE_NAME"
    AGREEMENT_PROCESS_URL: "common-services-urls.AGREEMENT_PROCESS_URL"
    DELEGATION_PROCESS_URL: "common-services-urls.DELEGATION_PROCESS_URL"
    PURPOSE_PROCESS_URL: "common-services-urls.PURPOSE_PROCESS_URL"

  envFromSecrets:
    SAFE_STORAGE_API_KEY: "safe-storage-signing-credentials.password"
    
  envFromFieldRef:
    AWS_ROLE_SESSION_NAME: "metadata.name"
