name: "interop-be-backend-for-frontend"
techStack: "nodejs"

serviceAccount:
  roleArn: "arn:aws:iam::505630707203:role/interop-be-backend-for-frontend-dev-es1"

service:
  create: true
  containerPort: 8088
  albHealthCheck:
    path: /backend-for-frontend/0.0/status
    port: "8088"
    protocol: HTTP

configmap:
  BACKEND_FOR_FRONTEND_INTERFACE_VERSION: "0.0"
  GENERATED_JWT_KID: "{{.Values.local.interop_be_commons.RSA_KEYS_IDENTIFIERS}}"
  GENERATED_JWT_SECONDS_DURATION: "86400"
  GENERATED_JWT_ISSUER: "{{.Values.namespace}}.interop.pagopa.it"
  GENERATED_JWT_AUDIENCE: "{{.Values.namespace}}.interop.pagopa.it/ui"
  CLIENT_ASSERTION_AUDIENCE: "auth.{{.Values.namespace}}.interop.pagopa.it/client-assertion"
  CLIENT_ASSERTION_JWT_AUDIENCE: "auth.{{.Values.namespace}}.interop.pagopa.it/client-assertion"
  ACCEPTED_AUDIENCES: "{{.Values.namespace}}.interop.pagopa.it/ui,selfcare.{{.Values.namespace}}.interop.pagopa.it"
  PURPOSE_TEMPLATE_DOCUMENTS_CONTAINER: "interop-application-documents-{{.Values.namespace}}-es1"
  ALLOW_LIST_FILE_NAME: "allowlist.txt"
  TENANT_ALLOWED_ORIGINS: "IPA,ANAC,IVASS,PDND_INFOCAMERE-SCP,PDND_INFOCAMERE-PRV"
  PRIVACY_NOTICES_DYNAMO_TABLE_NAME: "interop-privacy-notices-{{.Values.namespace}}"
  PRIVACY_NOTICES_USERS_DYNAMO_TABLE_NAME: "interop-privacy-notices-acceptances-{{.Values.namespace}}"
  PRIVACY_NOTICES_PP_UUID: "0df21ff6-3e8f-4320-af8f-23dea9135d57"
  PRIVACY_NOTICES_TOS_UUID: "6bf8412a-41a7-41a0-82dc-26286ce61b1a"
  PRIVACY_NOTICES_PP_FILE_NAME: "pp.json"
  PRIVACY_NOTICES_TOS_FILE_NAME: "tos.json"
  RATE_LIMITER_MAX_REQUESTS: "9999999"
  RATE_LIMITER_BURST_PERCENTAGE: "1.0"
  RATE_LIMITER_RATE_INTERVAL_MILLIS: "1000"
  RATE_LIMITER_TIMEOUT_MILLIS: "300"
  SAML_AUDIENCE: "selfcare.{{.Values.namespace}}.interop.pagopa.it"
  SAML_CALLBACK_URL: "https://selfcare.{{.Values.namespace}}.interop.pagopa.it/ui/it/assistenza/scelta-ente"
  SAML_CALLBACK_ERROR_URL: "https://selfcare.{{.Values.namespace}}.interop.pagopa.it/ui/it/assistenza/errore"
  PRESIGNED_URL_GET_DURATION_MINUTES: "2"
  PRESIGNED_URL_PUT_DURATION_MINUTES: "2"
  PAGOPA_TENANT_ID: "69e2865e-65ab-4e48-a638-2037a9ee2ee7"
  INTEROP_SELFCARE_PRODUCT_NAME: "prod-interop"
  BFF_SWAGGER_UI_ENABLED: true
  FRONTEND_BASE_URL: "https://selfcare.{{.Values.namespace}}.interop.pagopa.it/ui/it"

deployment:
  env:
    HOST: "0.0.0.0"
    PORT: "8088"
    SERVICE_VERSION: "{{.Values.deployment.image.tag}}"
    KEEP_ALIVE_TIMEOUT_MILLIS: "61000"
  envFromFieldRef:
    POD_NAME: "metadata.name"
    NODE_IP: "status.hostIP"
    AWS_ROLE_SESSION_NAME: "metadata.name"
    PRODUCER_KAFKA_CLIENT_ID: "metadata.name"
  envFromConfigmaps:
    WELL_KNOWN_URLS: "common-jwt.BFF_WELL_KNOWN_URLS"
    AGREEMENT_PROCESS_URL: "common-services-urls.AGREEMENT_PROCESS_URL"
    ATTRIBUTE_REGISTRY_PROCESS_URL: "common-services-urls.ATTRIBUTE_REGISTRY_PROCESS_URL"
    AUTHORIZATION_PROCESS_URL: "common-services-urls.AUTHORIZATION_PROCESS_URL"
    CATALOG_PROCESS_URL: "common-services-urls.CATALOG_PROCESS_URL"
    PURPOSE_PROCESS_URL: "common-services-urls.PURPOSE_PROCESS_URL"
    PURPOSE_TEMPLATE_PROCESS_URL: "common-services-urls.PURPOSE_TEMPLATE_PROCESS_URL"
    DELEGATION_PROCESS_URL: "common-services-urls.DELEGATION_PROCESS_URL"
    ESERVICE_TEMPLATE_PROCESS_URL: "common-services-urls.ESERVICE_TEMPLATE_PROCESS_URL"
    TENANT_PROCESS_URL: "common-services-urls.TENANT_PROCESS_URL"
    NOTIFICATION_CONFIG_PROCESS_URL: "common-services-urls.NOTIFICATION_CONFIG_PROCESS_URL"
    IN_APP_NOTIFICATION_MANAGER_URL: "common-services-urls.IN_APP_NOTIFICATION_MANAGER_URL"
    SELFCARE_V2_URL: "common-selfcare.SELFCARE_V2_URL"
    RATE_LIMITER_REDIS_HOST: "common-redis.REDIS_HOST"
    RATE_LIMITER_REDIS_PORT: "common-redis.REDIS_PORT"
    PRODUCER_KAFKA_BROKERS: "common-kafka.KAFKA_BROKERS"
    APPLICATION_AUDIT_TOPIC: "common-kafka.APPLICATION_AUDIT_TOPIC"
    APPLICATION_AUDIT_FALLBACK_SQS_URL: "common-sqs.APPLICATION_AUDIT_FALLBACK_SQS_URL"
    FEATURE_FLAG_CLIENT_ASSERTION_STRICT_CLAIMS_VALIDATION: "common-feature-flags.FEATURE_FLAG_CLIENT_ASSERTION_STRICT_CLAIMS_VALIDATION"
    FEATURE_FLAG_NOTIFICATION_CONFIG: "common-feature-flags.FEATURE_FLAG_NOTIFICATION_CONFIG"
    FEATURE_FLAG_PURPOSE_TEMPLATE: "common-feature-flags.FEATURE_FLAG_PURPOSE_TEMPLATE"
    INTERNAL_JWT_KID: "common-jwt.INTERNAL_JWT_KID"
    INTERNAL_JWT_AUDIENCE: "common-jwt.INTERNAL_JWT_AUDIENCE"
    INTERNAL_JWT_SUBJECT: "common-jwt.INTERNAL_JWT_SUBJECT"
    INTERNAL_JWT_ISSUER: "common-jwt.INTERNAL_JWT_ISSUER"
    INTERNAL_JWT_SECONDS_DURATION: "common-jwt.INTERNAL_JWT_SECONDS_DURATION"
    ALLOW_LIST_CONTAINER: "common-s3.ALLOW_LIST_BUCKET"
    CONSUMER_DOCUMENTS_CONTAINER: "common-s3.APPLICATION_DOCUMENTS_BUCKET"
    ESERVICE_DOCUMENTS_CONTAINER: "common-s3.APPLICATION_DOCUMENTS_BUCKET"
    RISK_ANALYSIS_DOCUMENTS_CONTAINER: "common-s3.APPLICATION_DOCUMENTS_BUCKET"
    DELEGATION_CONTRACTS_CONTAINER: "common-s3.APPLICATION_DOCUMENTS_BUCKET"
    ESERVICE_TEMPLATE_DOCUMENTS_CONTAINER: "common-s3.APPLICATION_DOCUMENTS_BUCKET"
    IMPORT_ESERVICE_CONTAINER: "common-s3.APPLICATION_DATA_IMPORT_EXPORT_BUCKET"
    EXPORT_ESERVICE_CONTAINER: "common-s3.APPLICATION_DATA_IMPORT_EXPORT_BUCKET"
    PRIVACY_NOTICES_CONTAINER: "common-s3.PRIVACY_NOTICES_CONTENT_BUCKET"
    ALLOW_LIST_PATH: "common-s3.ALLOW_LIST_PATH"
    CONSUMER_DOCUMENTS_PATH: "common-s3.AGREEMENT_CONSUMER_DOCUMENTS_PATH"
    ESERVICE_DOCUMENTS_PATH: "common-s3.ESERVICE_DOCUMENTS_PATH"
    ESERVICE_TEMPLATE_DOCUMENTS_PATH: "common-s3.ESERVICE_TEMPLATE_DOCUMENTS_PATH"
    EXPORT_ESERVICE_PATH: "common-s3.EXPORT_ESERVICE_PATH"
    IMPORT_ESERVICE_PATH: "common-s3.IMPORT_ESERVICE_PATH"
    PRIVACY_NOTICES_PATH: "common-s3.PRIVACY_NOTICES_PATH"
    PURPOSE_TEMPLATE_DOCUMENTS_PATH: "common-s3.PURPOSE_TEMPLATE_DOCUMENTS_PATH"
    RISK_ANALYSIS_DOCUMENTS_PATH: "common-s3.RISK_ANALYSIS_DOCUMENTS_PATH"
  envFromSecrets:
    SAML_PUBLIC_KEY: "support-saml.SUPPORT_SAML_PUBLIC_KEY"
    SELFCARE_V2_API_KEY: "selfcare-v2.SELFCARE_V2_API_KEY"
  livenessProbe:
    httpGet:
      path: "/backend-for-frontend/0.0/status"
      port: http
    initialDelaySeconds: 15
    periodSeconds: 5
  readinessProbe:
    httpGet:
      path: "/backend-for-frontend/0.0/status"
      port: http
    initialDelaySeconds: 15
    periodSeconds: 5
  resources:
    limits:
      cpu: "500m"
      memory: "2Gi"
    requests:
      cpu: "500m"
      memory: "2Gi"
