name: "interop-be-selfcare-onboarding-consumer"
techStack: "nodejs"

serviceAccount:
  roleArn: "arn:aws:iam::505630707203:role/interop-be-selfcare-onboarding-consumer-dev-es1"

service:
  create: false

configmap:
  KAFKA_BROKERS: "selc-u-eventhub-ns.servicebus.windows.net:9093"
  KAFKA_CLIENT_ID: "interop-dev"
  KAFKA_GROUP_ID: "interop-onboarding-dev"
  SELFCARE_TOPIC: "sc-contracts"
  RESET_CONSUMER_OFFSETS: "FALSE"
  INTEROP_PRODUCT: "prod-interop"
  ALLOWED_ORIGINS: "IPA,ANAC,IVASS,PDND_INFOCAMERE-SCP,PDND_INFOCAMERE-PRV"

deployment:
  envFromConfigmaps:
    TENANT_PROCESS_URL: "common-services-urls.TENANT_PROCESS_URL"
    INTERNAL_JWT_KID: "common-jwt.INTERNAL_JWT_KID"
    INTERNAL_JWT_AUDIENCE: "common-jwt.INTERNAL_JWT_AUDIENCE"
    INTERNAL_JWT_SUBJECT: "common-jwt.INTERNAL_JWT_SUBJECT"
    INTERNAL_JWT_ISSUER: "common-jwt.INTERNAL_JWT_ISSUER"
    INTERNAL_JWT_SECONDS_DURATION: "common-jwt.INTERNAL_JWT_SECONDS_DURATION"
  envFromSecrets:
    KAFKA_BROKER_CONNECTION_STRING: "selfcare-v2.SELFCARE_BROKER_CONNECTION_STRING"
  resources:
    limits:
      cpu: "250m"
      memory: "512Mi"
    requests:
      cpu: "250m"
      memory: "512Mi"
